<!-- 퍼센트 기호 : 템플릿 태그(제어문 등) ( 주석에도 템플릿 문법 쓰면 안됨 ) -->
{% extends 'base.html' %} {% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  {% if content_list %} {% for content in content_list %}
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg"
        alt="..."
      />
    </div>
    <div class="col-lg-5">
      <h3><a href="/product/{{content.id}}/">{{ content.title }}</a></h3>
      <h5>{{ content.content}}</h5>
      <a class="btn btn-primary" href="#!">Call to Action!</a>
    </div>
  </div>
  {% endfor %}
  <!-- 템플릿 태그(제어문 등) ( 주석에도 템플릿 문법 쓰면 안됨 ) -->
  {% else %}
  <p>content가 없습니다.</p>
  {% endif %}
</div>
{% endblock %}
